.user-sign-up {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .user-sign-up input[type=submit]:hover {
    background-color: #45a049;
  }

  .user-sign-up input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
  }

  .user-sign-up input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
  }

  .user-sign-up input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid darkgreen;
    border-radius: 30px;
    cursor: pointer;
  }